#container{
    width: 100%;
    background-color: blue;
    height: 100px;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

* {
    /* text-align: center; */
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 38px;
    margin-top: 20px;
}



input{
    margin-top: 5px;
    margin-bottom: 30px;
}
#container2 {
    margin: 0px 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 20px;
}

#container2>div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

#container2>div>img {
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

#container2>div>p+img {
    
    width: 48%;
}

p {
    text-align: center;
    color: gray;
}


/* ====================== MEDIUM SCREEN  */
@media screen and (max-width: 1040px) and (min-width: 710px) {
 
  #container2 {
       
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, auto);
    /* border: 1px red solid; */
    margin: auto;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 50px;
     align-content: center;
       align-items: center;

}

  
}


/* ========================= SMALL SCREEN ++++++++++++++++++++++++++++++++++++ */


@media screen and (max-width: 710px) and (min-width: 100px) {
   h1,h2{
        font-size: 24px;
    }



#container2 {
       
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(8, auto);
       /* border: 1px red solid; */
       margin: auto;
       gap: 20px;
       margin-left: 40px;
       margin-right: 40px;
       column-gap: 50px;
     
   }

}